.institution {
  @include sP(
    [ //
    font-size 24 18,
    margin-top 6 6,
    margin-bottom 10 10,
    ]
  );
}

.location {
  @include sP(
    [ //
    font-size 16 14,
    ]
  );
}

.description {
  p {
    margin-bottom: 0;
    width: 100% !important;
    all: unset;
    margin: 0;
    padding: 0;
    display: block;
  }

  em {
    @apply text-gray-50;

    @include sP(
      [ //
      font-size 22 18,
      ]
    );
  }

  ul {
    @include sP(
      [ //
      font-size 20 16,
      width 1000 "100%",
      ]
    );
  }
}
