@tailwind base;
@tailwind components;
@tailwind utilities;

.background-master {
  background-color: rgb(15, 23, 42);
}

.background-gradient {
  background: radial-gradient(
    circle at top center,
    hsla(575, 80%, 60%, 0.5) 0%,
    hsla(575, 0%, 0%, 0) 50%,
    hsla(575, 0%, 0%, 0) 100%
  );
  margin-top: -16px;
}

.sofia {
  font-family: "Sofia Sans", sans-serif !important;
}

.sofia-cond {
  font-family: "Sofia Sans Condensed", sans-serif !important;
}

.sofia-extra-cond {
  font-family: "Sofia Sans Extra Condensed", sans-serif !important;
}

.highlighted {
  border: 2px solid #ffffff; /* Example: a white border */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Example: a light shadow */
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Example: slightly lighten the background */
  transition: all 0.3s ease-in-out; /* Smooth transition for the effect */
}
