@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-master {
  @apply bg-blue-400;
}

.border-master {
  @apply bg-blue-400;
}

.background-gradient {
  margin-top: -16px;
  /* background: radial-gradient(
    circle at top center,
    hsla(158, 64%, 51%, 0.75) 0%,
    hsla(158, 0%, 0%, 0) 50%,
    hsla(158, 0%, 0%, 0) 100%
  ); */

  @media only screen and (max-width: 767px) {
    margin-top: 64px;
  }
}

.home-hero-1 {
  background-position: center center;
}

.sofia {
  font-family: "Sofia Sans", sans-serif;
}

.sofia-cond {
  font-family: "Sofia Sans Condensed", sans-serif;
}

.sofia-extra-cond {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}

.tags,
.tags ul {
  color: #f7efd8;
  @apply flex list-none flex-row flex-wrap gap-2 md:gap-4;
}

.tags li,
.tags span {
  background-color: #e8b45e;
  @apply w-fit whitespace-nowrap rounded-full px-2 text-sm font-bold tracking-wide md:px-3 md:text-lg;
}

.tags li {
  display: flex;
}

.stroke-effect {
  paint-order: stroke fill;

  /* text-shadow: 14px 14px 16px rgb(247, 239, 216); */
  @supports (-webkit-text-stroke: 6px rgb(247, 239, 216)) {
    -webkit-text-stroke: 6px rgb(247, 239, 216);
    -webkit-text-fill-color: rgb(65, 138, 145);
  }
}

.stroke-headline {
  paint-order: stroke fill;

  /* text-shadow: 20px 20px 2px rgb(247, 239, 216); */
  @supports (-webkit-text-stroke: 26px rgb(247, 239, 216)) {
    -webkit-text-stroke: 26px rgb(247, 239, 216);
    -webkit-text-fill-color: rgb(65, 138, 145);
  }
}

.stroke-effect-svg {
  stroke: rgb(247, 239, 216);
  stroke-width: 2;
  fill: rgb(247, 239, 216);
}

.bullet-markers {
  li::marker {
    color: #ecfdf5 !important;
  }
}

.footer-icons {
  @apply p-2 text-2xl text-blue-50 transition-all duration-300 hover:scale-125 hover:text-blue-400;
}

.footer-power {
  @apply font-extrabold transition-colors duration-300 hover:text-blue-400;
}

.nav-proj-blog {
  @apply text-sm md:text-xl;

  span:first-of-type {
    @apply translate-y-8 md:translate-y-10;
  }
}

.img-shine {
  position: relative;
  overflow: hidden;
}

.img-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 200%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition:
    transform 0.3s ease-in-out,
    background 0.3s ease-in-out;
  transform: translateX(-50%) skewX(45deg);
}

.img-shine:hover::after {
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(-50%) translateX(100%) skewX(45deg);
}

.home-hero-1 {
  height: 100% !important;
  max-height: 100vh !important;
  background-position: top center;
}