.home_hero_section {
  position: relative;
  overflow: hidden;

  @include sP([ //
    margin-top -72 0 0.85,
    ]);
}

.loading_text {
  @include sP([ //
    font-size 36 'CONTINUE_SCALING' 0.7,
    ]);

  @include xLarge {
    font-size: 56px;
  }
}

.home_hero_bg_wrapper {
  position: absolute !important;
  left: 0;
  top: 0;

  @include sP([ //
    padding-top 36 0 0.95,
    ]);
}

.home_hero_bg {
  height: auto;
  width: 100vw;
}

.hero_bounded_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @include sP([ //
    margin-right -26 'CONTINUE_SCALING' 1.0,
    ]);
}

.hero_bounded {
  display: grid;
  grid-template-columns: 1fr auto;


  @include sP([ //
    gap 24 'CONTINUE_SCALING' 0.1,
    width 1050 'CONTINUE_SCALING' 0.476,
    margin-top 208 'CONTINUE_SCALING' 0.55,
    margin-bottom 224 'CONTINUE_SCALING' 0.44,
    ]);

  @include mobile {
    @include sP([ //
      margin-top 154 'CONTINUE_SCALING' 0.51,
      ]);
  }

  @media only screen and (min-width: 1462px) {
    margin-top: 13%;
    width: 61.5%;
    margin-bottom: 16%;
  }

  @include xLarge {
    width: 62%;
    margin-bottom: 13%;
  }

  // @include trn(max-width, margin-top, margin-bottom)
}

.hero_text p {
  font-family: $sofia-cond;
  text-transform: uppercase;

  @apply text-blue-900;

  strong {
    font-weight: 900;
  }

  em strong {
    font-weight: 800;
  }


  @include sP([ //
    font-size 32 'CONTINUE_SCALING' 0.451,
    line-height 51 'CONTINUE_SCALING' 0.428,
    letter-spacing 1 'CONTINUE_SCALING' 0.5,
    ]);

  @include xLarge {
    font-size: 38px;
    line-height: 56px;
  }

  @media screen and (min-width: 2170px) {
    font-size: 40px;
    line-height: 66px;
  }

  @media screen and (min-width: 2300px) {
    font-size: 43px;
    line-height: 74px;
  }

  @media screen and (min-width: 2500px) {
    font-size: 46px;
    line-height: 82px;
  }


}

.hero_image {
  object-fit: fill;

  @include sP([ //
    width 172 'CONTINUE_SCALING' 0.43,
    margin-top 48 'CONTINUE_SCALING' 0.5,
    ]);

  @include xLarge {
    width: 190px;
    margin-top: 60px;
  }

  @media screen and (min-width: 2170px) {
    width: 200px;
    margin-top: 65px;
  }

  @media screen and (min-width: 2300px) {
    width: 210px;
    margin-top: 75px;
  }

  @media screen and (min-width: 2500px) {
    width: 225px;
    margin-top: 80px;
  }
}