.home_hero_section {
  @apply relative overflow-hidden;

  @include sP([ //
    margin-top -72 0 0.9,
    ]);

}

.home_hero_bg_wrapper {
  position: absolute !important;
  left: 0;
  top: 0;

  @include sP([ //
    padding-top 36 0 0.9,
    ]);
}

.home_hero_bg {
  height: auto;
  width: 100vw;
}

.hero_bounded {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  margin: 0 auto;

  @include sP([ //
    gap 24 8 0.3,
    max-width 980 '58%' 0.45,
    margin-top 224 '11%' 0.5,
    margin-bottom 224 '12%' 0.4,
    ]);


  @include xLarge {
    margin-top: 13%;
    max-width: 58%;
  }
}

.hero_text p {
  font-family: $sofia-cond;
  text-transform: uppercase;

  @apply text-blue-950;

  strong {
    font-weight: 900;
  }

  em strong {
    font-weight: 700;
  }


  @include sP([ //
    font-size 32 "CONTINUE_SCALING" 0.34,
    line-height 52 "CONTINUE_SCALING" 0.38,
    ]);

  @include large {
    @include sP([ //
      font-size 32 "CONTINUE_SCALING" 0.30,
      line-height 52 "CONTINUE_SCALING" 0.32,
      ]);
  }

  @include xLarge {
    font-size: 3.2em;
    line-height: 1.8em;
  }

  @include xxLarge {
    font-size: 3.4em;
    line-height: 2.0em;
  }

  @include mobile {
    @include sP([ //
      font-size 32 "CONTINUE_SCALING" 0.43,
      line-height 52 "CONTINUE_SCALING" 0.43,
      ]);
  }
}

.hero_image {
  object-fit: fill;

  @include sP([ //
    width 160 "CONTINUE_SCALING" 0.475,
    margin-top 24 6 0.4,
    ]);

  @include xLarge {
    width: 200px;
    margin-top: 18%;
  }

  @include xxLarge {
    width: 220px;
  }
}