.testimonial_wrapper {

  @include sP([ //
    margin-bottom 20 20,
  ]);

  :global {
    .swiper {
      width: 100%;
      height: auto;
    }

    .swiper-slide {}

    .swiper-button-next,
    .swiper-button-prev {
      @apply text-gray-50 transition-colors duration-300;

      &:hover {
        @apply text-amber-400;
      }
    }

    .swiper-pagination-bullet {
      @apply bg-gray-50 transition-colors duration-300;

      &:hover {
        @apply bg-amber-400;
      }
    }

    .swiper-pagination {
      @include sP([ //
        bottom -4 -4,
      ]);
    }
  }
}

.testimonial {
  display: grid;
  justify-content: center;

  @include sP([ //
    gap 4 4,
  ]);
}

.image {
  border-radius: 100%;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid white;
  @apply border-gray-700;

  @include sP([ //
    max-width 100 100,
    border-width 2 2,
    ]);
}

.title {
  @apply text-amber-500;

  @include sP([ //
    margin-bottom 8 8,
  ]);
}

.info {
  @apply justify-self-center;

  p {
    @apply text-gray-50 justify-self-center;
    max-width: 80%;
    margin: 0 auto;

    @include sP([ //
      font-size 18 16,
      line-height 22 20,
      margin-bottom 24 24,
      ]);
  }
}