@import "src/scss/variables.scss";
@import "src/scss/functions.scss";
@import "src/scss/mixins.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.sofia {
  font-family: $sofia;
}

.sofia-cond {
  font-family: $sofia-cond;
}

.sofia-extra-cond {
  font-family: $sofia-extra-cond;
}

.background-master {
  @apply bg-blue-400;
}

.border-master {
  @apply bg-blue-400;
}

.background-gradient {
  margin-top: -16px;
  /* background: radial-gradient(
    circle at top center,
    hsla(158, 64%, 51%, 0.75) 0%,
    hsla(158, 0%, 0%, 0) 50%,
    hsla(158, 0%, 0%, 0) 100%
  ); */

  @media only screen and (max-width: 767px) {
    margin-top: 64px;
  }
}

.tags,
.tags ul {
  color: #f8fafc;
  @apply flex list-none flex-row flex-wrap gap-2 md:gap-4;
}

.tags li,
.tags span {
  background-color: #1e3a8a;
  @apply w-fit whitespace-nowrap rounded-full px-2 text-sm font-bold tracking-wide md:px-3 md:text-lg;
}

.footer-icons {
  @apply p-2 text-2xl text-blue-50 transition-all duration-300 hover:scale-125 hover:text-blue-400;
}

.footer-power {
  @apply font-extrabold transition-colors duration-300 hover:text-blue-400;
}

.nav-proj-blog {
  @apply text-sm md:text-xl;

  span:first-of-type {
    @apply translate-y-8 md:translate-y-10;
  }
}

.home-hero-section {
  @apply relative overflow-hidden md:-mt-32;
}

.home-hero-bg-wrapper {
  position: absolute;
  left: 0;
  top: 0;

  @apply md:pt-24;
}

.home-hero-bg {
  height: auto;
  width: 100vw;
}

.hero-bounded {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
}

.hero-text {
  font-weight: 700;
}

.hero-image {
  object-fit: fill;
}

@media screen and (min-width: 1600px) and (max-width: 1900px) {
  .hero-bounded {
    margin-top: 14.75rem; /* 236px to rem */
    margin-right: 3.5rem; /* 56px to rem */
    margin-left: 8rem; /* 128px to rem */
    margin-bottom: 10.25rem; /* 164px to rem */
  }

  .hero-text {
    font-size: 1.9rem; /* 32px to rem */
    line-height: 3.375rem; /* 54px to rem */
  }

  .hero-image {
    width: 10.5rem; /* 180px to rem */
    margin-top: 1.5rem; /* 24px to rem */
  }
}

.tags li {
  display: flex;
}

.stroke-effect {
  paint-order: stroke fill;

  /* text-shadow: 14px 14px 16px rgb(247, 239, 216); */
  @supports (-webkit-text-stroke: 6px rgb(96, 165, 250)) {
    -webkit-text-stroke: 6px rgb(96, 165, 250);
    -webkit-text-fill-color: rgb(248, 250, 252);
  }
}

.stroke-headline {
  paint-order: stroke fill;

  /* text-shadow: 20px 20px 2px rgb(247, 239, 216); */
  @supports (-webkit-text-stroke: 26px rgb(96, 165, 250)) {
    -webkit-text-stroke: 26px rgb(96, 165, 250);
    -webkit-text-fill-color: rgb(248, 250, 252);
  }
}

.stroke-effect-svg {
  stroke: rgb(96, 165, 250);
  stroke-width: 2;
  fill: rgb(248, 250, 252);
}

.bullet-markers {
  li::marker {
    color: #eff6ff !important;
  }
}

.img-shine {
  position: relative;
  overflow: hidden;
}

.img-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 200%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition:
    transform 0.3s ease-in-out,
    background 0.3s ease-in-out;
  transform: translateX(-50%) skewX(45deg);
}

.img-shine:hover::after {
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(-50%) translateX(100%) skewX(45deg);
}
