@tailwind base;
@tailwind components;
@tailwind utilities;

.sofia {
  font-family: $sofia;
}

.sofia-cond {
  font-family: $sofia-cond;
}

.sofia-extra-cond {
  font-family: $sofia-extra-cond;
}

.background-master {
  @apply bg-gray-900;
}

.border-master {
  @apply bg-gray-900;
}

.background-gradient {
  margin-top: -16px;
  /* background: radial-gradient(
    circle at top center,
    hsla(38, 64%, 51%, 0.75) 0%,
    hsla(38, 0%, 0%, 0) 50%,
    hsla(38, 0%, 0%, 0) 100%
  ); */

  @media only screen and (max-width: 767px) {
    margin-top: 64px;
  }
}

.background-pattern {
  @include sP([ //
    margin-top -16,
    ]);
}

.outer-bounded {}

.inner-bounded {
  @include sP([ //
    max-width 1280 '100%',
    ])
}

.namelogo {
  @include sP([ //
    font-size 24 24,
    ]);
}

.navbar-nav {
  @include sP([ //
    font-size 16 16,
    ]);
}

.button-text {
  @include sP([ //
    font-size 16 16,
    ]);
}

.tags,
.tags ul {
  color: #FAFAFA;
  /* Tailwind gray-50 */
  @apply flex list-none flex-row flex-wrap gap-2 md:gap-4;
}

.tags li,
.tags span {
  background-color: #6B7280;
  /* Tailwind gray-600 */
  @apply w-fit whitespace-nowrap rounded-full px-2 text-sm font-bold tracking-wide md:px-3 md:text-lg;
}

.footer-icons {
  @apply p-2 text-gray-50 transition-all duration-300 hover:scale-125 hover:text-gray-900;

  @include sP([ //
    font-size 12 12,
    ]);
}

.footer-power {
  @apply font-extrabold transition-colors duration-300 hover:text-gray-900;
  @include sP([ //
    font-size 12 12,
    ]);
}

p.footer-power-text {
  @include sP([ //
    font-size 12 12,
    ]);
}

.nav-proj-blog {
  @apply text-sm md:text-xl;

  span:first-of-type {
    @apply translate-y-8 md:translate-y-10;
  }
}

.tags li {
  display: flex;
}

.stroke-effect {
  paint-order: stroke fill;

  /* text-shadow: 14px 14px 16px rgb(243, 244, 246); */
  @supports (-webkit-text-stroke: 6px rgb(75, 85, 99)) {
    -webkit-text-stroke: 6px rgb(75, 85, 99);
    -webkit-text-fill-color: rgb(250, 250, 250);
  }
}

.stroke-headline {
  paint-order: stroke fill;

  /* text-shadow: 20px 20px 2px rgb(243, 244, 246); */
  @supports (-webkit-text-stroke: 26px rgb(75, 85, 99)) {
    -webkit-text-stroke: 26px rgb(75, 85, 99);
    -webkit-text-fill-color: rgb(250, 250, 250);
  }
}

.stroke-effect-svg {
  stroke: rgb(75, 85, 99);
  stroke-width: 2;
  fill: rgb(250, 250, 250);
}

.bullet-markers {
  li::marker {
    color: #E5E7EB !important;
    /* Tailwind gray-200 */
  }
}

.img-shine {
  position: relative;
  overflow: hidden;
}

.img-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 200%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition:
    transform 0.3s ease-in-out,
    background 0.3s ease-in-out;
  transform: translateX(-50%) skewX(45deg);
}

.img-shine:hover::after {
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(-50%) translateX(100%) skewX(45deg);
}