// Values used by the sv() function.
$defaultScalingValue: 0.7;
$defaultMaxScreen: 1680;
$defaultMobileMax: 768;

// Shorthands for scaling values
$fsv: $defaultScalingValue; // default font-size, line-height, letter-spacing (text related) scaling value
$dsv: 0.45; // default dimensions scaling value, use for paddings, margins, width, height etc
$fhv: 0.55; // default dimensions for the firm highlights

// Values used by breakpoint media-query mixins.
$breakpointUpperLimit: (
  mobile: 768,
  desktop: 1680,
  large: 1920,
);

// Animate
$defaultAnimateDuration: 0.5s;
$dad: $defaultAnimateDuration;

// Font families
$sofia: "Sofia Sans", sans-serif;
$sofia-cond: "Sofia Sans Condensed", sans-serif;
$sofia-extra-cond: "Sofia Sans Extra Condensed", sans-serif;

// Font sizes
$commonFontSize: 19px;
$commonLineHeight: 26px;
$commonLetterSpacing: 0.5px;

// print
$printFontSize: 10pt;
$printLineHeight: 13.5pt;

// Colors
$white: #ffffff;
$black: #000000;
